body {
    background-color: rgb(139, 230, 242);
    font-family: Helvetica;
    text-align: center; 
}
h1 {
    font-style: italic;
    padding-top: 10px;
}
p {
    font-size: 45px;
}
.title {
    font-weight: bold;
}
#theend {
    color: rgb(10, 0, 192);
}
div {
    padding: 50px;
    margin: 80px;
    border: 10px solid black;
}