body {
    /* Gradient background */
    background: linear-gradient(20deg, #ebe881, #ff82a5);
    /* Ensures text is readable */
    color: white;
    /* Ensure content takes up full height */
    min-height: 100vh;
    /* Reset margin and padding */
    margin: 0;
    padding: 0;
}
.text-box {
    border: 3px solid #000; /* Border color and thickness */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for space between text and border */
    background-color: #f4ffca; /* Background color */
    margin-bottom: 20px; /* Space between text boxes */
}
.text-box2 {
    border: 2px solid #000; /* Border color and thickness */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Padding for space between text and border */
    background-color: #b1a5fc; /* Background color */
    margin-bottom: 20px; /* Space between text boxes */
}
